@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
html {
  scroll-behavior: smooth;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

/* Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: rgba(8, 7, 7, 0.575); /* Fondo blanco con opacidad */
  backdrop-filter: blur(10px); /* Aplica un desenfoque al fondo */
  border-bottom: 1px solid rgba(15, 13, 13, 0.2); /* Línea de separación */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  z-index: 40; 
  /* Asegura que el header esté sobre otros elementos */
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem; /* Ajusta el padding según sea necesario */
}

.header img {
  width: 3.5rem; /* Ajusta el tamaño del logo según sea necesario */
  height: 3.5rem;
}

.header p {
  margin-left: 1rem;
  color: white; /* Color del texto */
  font-size: 1.5rem;
}
