@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Pluto Light";
  src: url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.eot");
  src: url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.svg#Pluto Light")
      format("svg");
}
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

body {
  font-family: 'Lato', serif; 
}

